<div class="card mb-2"  (click)="onClick()">
  <div class="row no-gutters">
    <div class="col-sm-4">
      <img
        [src]="news.image"
        alt="{{ news.header }}"
        style="max-width: 100%">
    </div>
    <div class="col-sm-8">
      <div class="card-body">
        <h5 class="news-title">{{ news.header }}</h5>
        <p class="card-text small">{{ news.text }}</p>
        <strong class="card-text">{{ news.author }}</strong>
        <div class="card-text"> {{ news.price}} Euro</div>
      </div>
    </div>
  </div>
</div>
