<div class="modal-body">
  <h3>Our contacts</h3>
  <p>You are about to order news or want to ack us write new?
    <p>So call us</p>
  <p>Mobille: <strong>+1 801 777 55 643</strong></p>
  <p>Email: getpaidnews@new.org</p>
  <p>Or write us: <strong>620 8th Ave, New York, NY 10018, USA</strong> </p>
</div>
