<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/">Paid news</a>
  
  <div class="navbar-expand">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/" class="nav-link" >Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/new-news" class="nav-link">Create publication</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/contacts" class="nav-link">Contact us</a>
      </li>
    </ul>
  </div>
</nav>
