<div class="row mt-2">
  <div class="col-6">
    <h4>Add news</h4>

    <form (ngSubmit)="createNews()">
      <div class="form-group">
        <label for="header">Header</label>
        <input
          type="text"
          name="header"
          id="header"
          class="form-control"
          #headerInput
        />
      </div>

      <div class="form-group">
        <label for="imageUrl">Add image: </label>
        <input
          type="text"
          name="imageUrl"
          id="imageUrl"
          class="form-control"
          #imageInput
        />
      </div>

      <div class="form-group">
        <label for="innerText">Article: </label>
        <textarea
          name="innerText"
          id="innerText"
          class="form-control"
          #textInput
        ></textarea>
      </div>

      <div class="form-group">
        <label for="innerText">Author: </label>
        <input
          name="author"
          id="author"
          class="form-control"
          #authorInput
        />
      </div>

      <div class="form-group">
        <label for="price">Price: </label>
        <input
          name="price"
          id="price"
          id-price
          class="form-control"
          #priceInput
        />
      </div>
      <button type="submit" class="btn btn-primary">Create</button>
    </form>
  </div>
</div>
