<div class="card mb-2 p-2">
  <div class="row align-items-center">
    <div class="col">{{ publicationItem.news.header }}</div>
    <div class="col-2">{{ publicationItem.amount }}</div>
    <div class="col-4">{{ publicationItem.getPrice()}} Euro</div>
  </div>
</div>
