<h4>Publications</h4>

<ng-container *ngIf="publicationItems.length > 0; else emptyPublication">
<app-publication-item
  *ngFor="let publicationItem of publicationItems"
  [publicationItem]="publicationItem"
></app-publication-item>

<div class="card border-0 p2">
  <div class="row">

    <div class="col text-right">
      Choosen articles cost:
    </div>

    <div class="col-4 text-right">
      <strong>{{ getTotalPrice() }}</strong> Euro
    </div>
  </div>

  <div class="row p-2">
    <button
      class="btn btn-primary btn-block"
      (click)="openCheckoutModal()"
    >Join</button>
  </div>
</div>

</ng-container>

<ng-template #emptyPublication>
  <div class="alert alert-primary">
    No chosen publications, add news to buy them!!!
  </div>
</ng-template>

<app-modal
  [isOpen]="modalOpen"
  (close)="closeCheckoutModal()"
>
  <div class="modal-body">
    <h3>Join us</h3>
    <p>Via: </p>
    <p>Instagram</p>
    <p>Twitter</p>
    <p>Facebook</p>
    <p>Satelite</p>
  </div>
  <div class="modal-footer">
    <button
      class="btn btn-danger"
      (click)="closeCheckoutModal()"
    >Cancel</button>
    <button
      class="btn btn-success"
      (click)="continue()"
    >Join</button>
  </div>
</app-modal>

